.menuList {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  list-style: none;
  background-color: #eee;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  overflow: auto;
}

.menuItem {
  padding: 5px 15px;
  color: #2175bc;
}

.itemActive {
  background-color: #2175bc;
  color: #fff !important;
}


.link {
  display: block;
  cursor: pointer;
}

.component {
  margin-left: 200px;
  padding: 0 30px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.mobileModeMenu {
  display: none;
}

.mobileModeComponent {
  margin-left: 0;
}