.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.menuList {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: white;
  /* overflow-y:scroll; */
  /* or */
  overflow: auto;
}

.menuItem {
  /* 文字不换行 */
  white-space: nowrap;
  /* 超出隐藏 */
  overflow: hidden;
  /* 显示省略号 */
  text-overflow: ellipsis;
  flex: none;
}

.menuLink {
  margin-left: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  line-height: 3rem;
}

.menuLink:hover {
  background-color: lightblue;
}

.menuLinkActive {
  background-color: rgb(90, 150, 206);
}

.component {
  width: 80%;
  height: 100%;
}

.componentMobile {
  width: 100%;
}
